<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2014 Ian Marquez</p>
<script src="javascript/jquery-2.2.0.min.js"></script>
<script src="javascript/bootstrap.min.js"></script>
<script src="javascript/toastr.min.js"></script>
<script src="javascript/main.js"></script>

<script src="javascript/socket.io-1.4.5.js"></script>
