<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Chat Application</title>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.css"/>
<link rel="stylesheet" href="/css/toastr/toastr.css"/>
<link rel="stylesheet" href="/css/main.css"/>
<link rel="stylesheet" href="/css/chat.css"/>
