<!-- views/partials/header.ejs -->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="display:none">
    <div class="container-fluid">

        <div class="navbar-header ">
            <a class="navbar-brand" href="#">
                Student Management
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/">Home</a></li>
        </ul>
      
    </div>
</nav>